@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 225 100% 97%;
    --foreground: 225 40% 20%;

    --card: 225 100% 100%;
    --card-foreground: 225 40% 20%;

    --popover: 225 100% 100%;
    --popover-foreground: 225 40% 20%;

    --primary: 225 60% 42%;
    --primary-foreground: 0 0% 100%;

    --secondary: 225 100% 94%;
    --secondary-foreground: 225 60% 42%;

    --muted: 225 100% 94%;
    --muted-foreground: 225 40% 50%;

    --accent: 39 100% 50%;
    --accent-foreground: 210 40% 13%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 225 100% 88%;
    --input: 225 100% 92%;
    --ring: 225 60% 42%;
    
    --radius: 0.5rem;
  }

  .dark {
    --background: 225 40% 10%;
    --foreground: 225 100% 97%;

    --card: 225 40% 12%;
    --card-foreground: 225 100% 97%;

    --popover: 225 40% 12%;
    --popover-foreground: 225 100% 97%;

    --primary: 225 80% 60%;
    --primary-foreground: 225 40% 10%;

    --secondary: 225 40% 20%;
    --secondary-foreground: 225 100% 97%;

    --muted: 225 40% 20%;
    --muted-foreground: 225 100% 80%;

    --accent: 39 100% 50%;
    --accent-foreground: 210 40% 13%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 225 40% 25%;
    --input: 225 40% 22%;
    --ring: 225 80% 60%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
